name: Playwright Tests
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run devcontainers, build binary
        run: |
          docker compose -f .devcontainer/docker-compose.yml -f .devcontainer/docker-compose.e2e.yml up -d
          docker compose -f .devcontainer/docker-compose.yml -f .devcontainer/docker-compose.e2e.yml exec ridser /bin/bash -c "rustup update stable"
          docker exec -i --user ${UID}:${GID} --workdir /workspace devcontainer-ridser-1 /bin/bash -c "cargo build"
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
      - name: Install dependencies
        working-directory: ./tests
        run: npm ci
      - name: Install Playwright Browsers
        working-directory: ./tests
        run: npx playwright install --with-deps
      - name: Run Playwright tests
        working-directory: ./tests
        run: |
          docker exec -id --user ${UID}:${GID} --workdir /workspace devcontainer-ridser-1 /bin/bash -c "cp .env.e2e-ci .env ; cargo run"
          export PLAYWRIGHT_HTML_OUTPUT_DIR=playwright-report/firefox_chromium/
          npx playwright test --project firefox --project chromium
          export PLAYWRIGHT_HTML_OUTPUT_DIR=playwright-report/webkit/
          npx playwright test --project webkit
      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: tests/playwright-report/
          retention-days: 30
